<h4> Lista </h4>

<!--<div class="form-group row">
    <label class="col-sm-2 col-form-label"> Filter By: </label>

    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div> -->

<table class="table table-striped">
    <thead>
        <tr>
        <th>Mês</th>
        <th>Ano</th>
        <th>Código do Produto</th>
        <th>Descrição do Produto</th>
        <th>NR Lançamento</th>
        <th>Descrição</th>
        <th>Valor</th>
    </tr>
    </thead>
<tbody>
<tr *ngFor="let movimento of movimentos">
    <td>{{ movimento.mes}}</td>
    <td>{{ movimento.ano}}</td>
    <td>{{ movimento.produto}}</td>
    <td>Descrição dos Produtos</td>
    <td>{{ movimento.numeroLancamento}}</td>
    <td>{{ movimento.descricao}}</td>
    <td>{{ movimento.valor | currency: 'BRL'}}</td>
</tr>
</tbody>
</table>
