<div class="movimento-list">
  <h4> Lista </h4>

  <!--<div class="form-group row">
    <label class="col-sm-2 col-form-label"> Filter By: </label>

    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div> -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mês</th>
        <th>Ano</th>
        <th>Código do Produto</th>
        <th>Descrição do Produto</th>
        <th>NR Lançamento</th>
        <th>Descrição</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movimentoIt of listaMovimentos">
        <td>{{ movimentoIt.mes}}</td>
        <td>{{ movimentoIt.ano}}</td>
        <td>{{ movimentoIt.produto}}</td>
        <td> Teste Produto {{ movimentoIt.produto}}</td>
        <td>{{ movimentoIt.numeroLancamento}}</td>
        <td>{{ movimentoIt.descricao}}</td>
        <td>{{ movimentoIt.valor | currency: 'BRL'}}</td>
      </tr>
    </tbody>
  </table>
</div>
