<h4>Movimento</h4>

<hr />

<form #movimentoForm="ngForm" ng-disabled="true">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Mês</label>
    <div class="col-sm-10">
      <input [(ngModel)]="movimento.mes" required name="mes" #movimentoMes="ngModel"
        [ngClass]="{'is-invalid': movimentoMes.invalid && (movimentoMes.dirty || movimentoMes.touched)}"
        class="form-control">

      <div class="invalid-feedback">
        <span *ngIf="movimentoMes.invalid && (movimentoMes.dirty || movimentoMes.touched)">preenchimento
          obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ano</label>
    <div class="col-sm-10">
      <input [(ngModel)]="movimento.ano" required name="ano" #movimentoAno="ngModel"
        [ngClass]="{'is-invalid': movimentoAno.invalid && (movimentoAno.dirty || movimentoAno.touched)}"
        class="form-control">

      <div class="invalid-feedback">
        <span *ngIf="movimentoAno.invalid && (movimentoAno.dirty || movimentoAno.touched)">preenchimento
          obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Produto</label>
    <div class="col-sm-10">
      <select [(ngModel)]="movimento.produto" name="produto" #movimentoProduto="ngModel" class="form-control" [ngClass]="{'is-invalid': movimentoProduto.invalid}">
        <option *ngFor="let produtoIt of listaProduto" value={{produtoIt.id}} >{{produtoIt.descricao}}</option>
      </select>
      <div class="invalid-feedback">
        <div class="invalid-feedback">
          <span *ngIf="movimentoProduto.invalid && (movimentoProduto.dirty || movimentoProduto.touched)">preenchimento
            obrigatório</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Cosif</label>
    <div class="col-sm-10">
      <select [(ngModel)]="movimento.cosif" name="cosif" #movimentoCosif="ngModel" class="form-control" [ngClass]="{'is-invalid': movimentoCosif.invalid}">
        <option *ngFor="let cosifIt of listaCosif" value={{cosifIt.id}} >{{cosifIt.descricao}}</option>
      </select>
      <div class="invalid-feedback">
        <span *ngIf="movimentoCosif.invalid && (movimentoCosif.dirty || movimentoCosif.touched)">preenchimento
          obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Valor</label>
    <div class="col-sm-10">
      <input [(ngModel)]="movimento.valor" required name="valor" #movimentoValor="ngModel"
        [ngClass]="{'is-invalid': movimentoValor.invalid && (movimentoValor.dirty || movimentoValor.touched)}"
        class="form-control" type="currency" placeholder="R$ ">

      <div class="invalid-feedback">
        <span *ngIf="movimentoValor.invalid && (movimentoValor.dirty || movimentoValor.touched)">preenchimento
          obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Descrição</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="movimento.descricao" required name="descricao" #movimentoDescricao="ngModel"
        [ngClass]="{'is-invalid': movimentoDescricao.invalid  && (movimentoDescricao.dirty || movimentoDescricao.touched)}"
        class="form-control"></textarea>

      <div class="invalid-feedback">
        <span
          *ngIf="movimentoDescricao.invalid && (movimentoDescricao.dirty || movimentoDescricao.touched)">preenchimento
          obrigatório</span>
      </div>
    </div>
  </div>

  <button [disabled]="movimentoForm.invalid" (click)="include()" class="btn btn-primary mr-2"> Incluir </button>
  <button class="btn btn-secondary mr-2"> Novo </button>
  <button class="btn btn-secondary"> Limpar </button>
</form>
