<h4>Movimento</h4>

<hr />

<form #movimentoForm="ngForm">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Mês</label>
    <div class="col-sm-10">
      <input [(ngModel)]="movimento.mes" required name="mes" #movimentoMes="ngModel"
        [ngClass]="{'is-invalid': movimentoMes.invalid}" class="form-control">

      <div class="invalid-feedback">
        <span>preenchimento obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ano</label>
    <div class="col-sm-10">
      <input [(ngModel)]="movimento.ano" required name="ano" #movimentoAno="ngModel"
        [ngClass]="{'is-invalid': movimentoAno.invalid}" class="form-control">

      <div class="invalid-feedback">
        <span>preenchimento obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Produto</label>
    <div class="col-sm-10">
      <select name="produto">
        <option value="1">Produto 1</option>
        <option value="2">Produto 2</option>
        <option value="3">Produto 3</option>
        <option value="4">Produto 4</option>
      </select>
     <!-- <input [ngModel)]="movimento.produto" required name="produto" #movimentoProduto="ngModel"
        [ngClass]="{'is-invalid': movimentoProduto.invalid}" class="form-control">-->

      <div class="invalid-feedback">
        <span>preenchimento obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Cosif</label>
    <div class="col-sm-10">
      <select name="cosif">
        <option value="1">Cosif 1</option>
        <option value="2">Cosif 2</option>
        <option value="3">Cosif 3</option>
        <option value="4">Cosif 4</option>
      </select>
    <!-- <input [(ngModel)]="movimento.cosif" required name="cosif" #movimentoCosif="ngModel"
        [ngClass]="{'is-invalid': movimentoCosif.invalid}" class="form-control">-->

      <div class="invalid-feedback">
        <span>preenchimento obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Valor</label>
    <div class="col-sm-10">
      <input [(ngModel)]="movimento.valor" required name="valor" type="currency" #movimentoValor="ngModel"
        [ngClass]="{'is-invalid': movimentoValor.invalid}" class="form-control">

      <div class="invalid-feedback">
        <span>preenchimento obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Descrição</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="movimento.descricao" required name="descricao" #movimentoDescricao="ngModel"
        [ngClass]="{'is-invalid': movimentoDescricao.invalid}" class="form-control"></textarea>

      <div class="invalid-feedback">
        <span>preenchimento obrigatório</span>
      </div>
    </div>
  </div>

  <button [disabled]="movimentoForm.invalid" class="btn btn-primary mr-2"> Incluir </button>
  <button class="btn btn-secondary mr-2"> Novo </button>
  <button class="btn btn-secondary"> Limpar </button>
</form>

